<div class="a-propos">
	<div class="container title">
		<h1>A Propos</h1>

	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{{{data.aPropos.content.extended}}}
			</div>
		</div>
	</div>
</div>
