<div id='destinations'>
  <div class="container">
    <div class="row">
  		<div class="col-sm-12">
        <h1>Destinations</h1>
        <div  class="map">
          <img src="images/amCharts.pixelMap.svg"align="middle">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
  	<div class="row">
  		<div class="col-sm-8 col-md-9">
  			<h4 class="text-weight-normal"> <h4>
  		</div>
  	</div>
  </div>
</div>
