<div class="footer">
  <div class="container c-icon">
    <div class="row">
      <div class="col-md-12">
        <div class="col-sm-8 col-md-9">
          <p>© 2017 Deux Baroudeurs - Blog de voyage</p>
        </div>
        <div class="col-sm-4 col-md-3">
          <a href="mailto:deuxbaroudeurs@gmail.com">Contactez-nous</a>
            <a href="https://www.instagram.com/deuxbaroudeurs/" target="_blank" Title="Instagram"> <i class="fa fa-instagram"></i> </a>
            <a href="https://www.flickr.com/photos/deuxbaroudeurs/" target="_blank" Title="Flickr"> <i class="fa fa-flickr " aria-hidden="true"></i> </a>
        </div>

</div>
