<header class="navbar navbar-default navbar-fixed-top nav-down">
  <nav role="navigation" >
    <div class="container">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Deux baroudeurs</a> 
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            {{# each navLinks}}
            <li {{#ifeq ../section key}}{{else}}{{/ifeq}}>
              <a class="nav-link"href="{{ href }}">{{ label }}</a>
            </li>
          {{/each}}
          <li><a href="https://www.instagram.com/deuxbaroudeurs/" target="_blank" Title="Instagram" class="nav-link"> <i class="fa fa-instagram"></i> </a></li>
          <li><a href="https://www.flickr.com/photos/deuxbaroudeurs/" target="_blank" Title="Flickr" class="nav-link"> <i class="fa fa-flickr " aria-hidden="true"></i> </a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
