.index {
	height: 100%;
	position: relative;
	z-index: 2;

	.title-top{
		padding-top: 280px !important;
		h1, h2{

			color: white !important;
			text-align: center;
			text-transform: uppercase;
			text-shadow: 2px 2px 0 rgba(0,0,0,.3);
			-webkit-text-shadow: 2px 2px 0 rgba(0,0,0,.3);
			-moz-text-shadow: 2px 2px 0 rgba(0,0,0,.3);
		}

	}
	section {
		.container {
			h1, h2{
				text-align: center;
				color: #071c2c;
		    font-size: 2.25em;
		    font-weight: 500;
		    letter-spacing: .9px;
		    line-height: 1.25;
			}

		}
	}


	// Section article
	.content-scrolling-article {
		background-color: $blanc-2;
		//color: $marron;

	}

	.cover {
		background-image: url("./../images/header2-reduced.jpeg");
	}

	.cover2 {
		background-image: url("./../images/HeaderReduced.jpeg");
	}

	.cd-color-3 {
		background-color: $vert-2;
		color: $marron;
	}
	.text-inter{
		h1{
			color: white !important;
			text-align: center;
			text-transform: uppercase;
			text-shadow: 2px 2px 0 rgba(0,0,0,.3);
	-webkit-text-shadow: 2px 2px 0 rgba(0,0,0,.3);
	-moz-text-shadow: 2px 2px 0 rgba(0,0,0,.3);
		}
	}
	.title-article-index{
		h2{
			padding-bottom: 30px;
		}
	}

	.last-photos{
		img{
			height: 350px;
    width: 350px;
    border-radius: 10px;
    margin-bottom: 35px;
		}
	}
}
