#index {
	height: 100%;
	position: relative;
	z-index: 2;

	section {
		.container {
			h1, h2, h3 {
				text-align: center;
				margin-bottom: 50px;
			}
			h3 {
				font-style: italic;
			}

			button {}
		}
	}
	.content-scrolling-article {
		//background-color: $blanc-2;
		color: $marron;
    .main-article{
      height: 420px;
      margin-bottom: 20px;
      //position: relative;

    }
    .image-article{
    //  position: relative;

      img{
        width: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

      }
      //width: 100%;
      //position: absolute;
      // margin-bottom: 10px;

      // background-image: url('./../images/paris-tour-eiffel-at-night.jpg')
    }

    .text-article{
      position: absolute;
      top: 200px;
      left: 0;
      width: 100%;
    }

	}

	.cover {
		background-image: url("./../images/header2-reduced.jpeg");
	}

	.cover2 {
		background-image: url("./../images/HeaderReduced.jpeg");
	}

	.cd-color-3 {
		background-color: $vert-2;
		color: $marron;
	}
}
