.index {
	height: 100%;
	position: relative;
	z-index: 2;

	.icon {
		position: absolute;
		padding: 20px 0 20px 0;
		width: 100vh;
		text-align: center;
		width: 100%;
		color: #fff;
		bottom: 0;
		font-size: 50px;
	}
	
	.title-top{
		padding-top: 190px !important;
		@media (min-width: 768px) {
			padding-top: 280px !important;
		}
		h1, h2{

			color: white !important;
			text-align: center;
			text-transform: uppercase;
			text-shadow: 2px 2px 0 rgba(0,0,0,.3);
			-webkit-text-shadow: 2px 2px 0 rgba(0,0,0,.3);
			-moz-text-shadow: 2px 2px 0 rgba(0,0,0,.3);

		}
		h1{
			font-size: 28px !important;
			@media (min-width: 768px) {
				font-size: 31.5px !important;
			}

			@media (min-width: 992px) {
				font-size: 33px !important;
			}

			@media (min-width: 1200px) {
				font-size: 36px !important;
 			}

		}
		h2{
			font-size: 20px !important;
			@media (min-width: 768px) {
				font-size: 23.5px !important;

			 }

			@media (min-width: 992px) {
				font-size: 27px !important;
 		}

			@media (min-width: 1200px) {
				font-size: 30px !important;
			}

		}


	}
	section {


		.container {
			h1, h2{
				text-align: center;
				color: #071c2c;
				font-size: 2.25em;
				@media (max-width: 766px) {
					font-size: 1.9em !important;
				}

		    font-weight: 500;
		    letter-spacing: .9px;
		    line-height: 1.25;
			}

		}
		.text-inter{
			h1, h2{
				@media (max-width: 766px) {
					font-size: 1.6em !important;
				}
			}
		}
	}


	// Section article
	.content-scrolling-article {
		background-color: $blanc-2;
		//color: $marron;

	}

	.cover {
		background-image: url("./../images/header2-reduced.jpeg");
	}

	.cover2 {
		background-image: url("./../images/HeaderReduced.jpeg");
	}

	.cd-color-3 {
		background-color: $vert-2;
		color: $marron;
	}
	.text-inter{
		h1{
			color: white !important;
			text-align: center;
			text-transform: uppercase;
			text-shadow: 2px 2px 0 rgba(0,0,0,.3);
	-webkit-text-shadow: 2px 2px 0 rgba(0,0,0,.3);
	-moz-text-shadow: 2px 2px 0 rgba(0,0,0,.3);
		}
	}
	.title-article-index{
		h2{
			padding-bottom: 30px;
		}
	}
	.mobile-photos{
		padding-left: 5px !important;
    padding-right: 5px !important;
	}
	.last-photos{
		img{
			height: 150px;
			width: 150px;
			border-radius: 10px;
			margin-bottom: 5px;

			@media (min-width: 360px) {
				height: 175px;
				width: 175px;
				border-radius: 10px;
				margin-bottom: 5px;
			}
			@media (min-width: 375px) {
				height: 180px;
				width: 180px;
				border-radius: 10px;
				margin-bottom: 5px;
			}
			@media (min-width: 410px) {
				height: 200px;
		    width: 200px;
		    border-radius: 10px;
		    margin-bottom: 5px;
			 }
			@media (min-width: 766px) {
				height: 360px;
		    width: 360px;
		    border-radius: 10px;
		    margin-bottom: 10px;
			}
			@media (min-width: 992px) {
				height: 300px;
		    width: 300px;
		    border-radius: 10px;
		    margin-bottom: 20px;
			}
			@media (min-width: 1200px) {
				height: 350px;
		    width: 350px;
		    border-radius: 10px;
		    margin-bottom: 35px;
			}
		}
	}

}
