body,html {
	width: 100%;
	height:100%;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

//Phone
@media (min-width: 576px) {  }
//Tablet
@media (min-width: 768px) {  }
//Desktop
@media (min-width: 992px) { }
//Large desktop
@media (min-width: 1200px) { }


#main {
	height:100%;
	margin-top: 50px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
	position: relative;
	z-index:1;
}

.content-fixed {
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}

.content-scrolling {
	min-height: 30%;
	padding: 4em 0;
	line-height: 1.6;
	box-shadow: 0 0 50px rgba(#000, .5);
}

.element-center{
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

a:hover {
    text-decoration: none;
}


.btnArticle{
  display: flex;
  justify-content: center;
  .btn{
    border: 1px solid white;
    padding: 6px 12px;
    background-color: white;
  }

}
.image-ar{
	object-fit: cover;
}
.main-article{
	display: block;
  color: white;

  height: 420px;
  margin-bottom: 20px;
	overflow: hidden;
	img { height: 420px; background-color: #444;}

	 img[class] {
		 width: 100%;
	 }

  .image-article{
		height: 420px;
    background-color: #ddd;
    margin: auto;
		.image-ar{
			object-fit: cover;
			min-height: 420px;
		}
  }
  .text-article{
    // display: none;
    position: absolute;
    width: 100%;
    top:10%;
    left: 0;

    .button{
      display: flex;
      justify-content: center;
      margin-top:220px;

      .button-article {
        color: white;
        // width: 10%;
        //margin-left: 50%;
        //margin-right: 50%;
        // text-align: center;
        // margin-bottom: 25px;
        border: 2px;
        border-style: solid;
        border-color: white;
        padding: 12px 30px 10px;
      }
    }
  }
}
//Fin article principal

//Article :
div{

}
.article{
  display: block;
  height: 450px;
  //padding: 4px;
  margin-bottom: 20px;
  //line-height: 1.42857;
  background-color: #fff;
  //border: 1px solid #ddd;
  // border-radius: 4px;
  overflow: hidden;
	img { height: 250px; background-color: #444;}

	img[class] {
	  width: 100%;
	}
  .image-article{
    overflow: hidden;
    height: 250px;
    background-color: #ddd;
    margin: auto;
		.image-ar{
			object-fit: cover;
		}

    // img{
    //   display: block;
    //   max-width: 100%;
    //   height: auto;
    //   margin-left: auto;
    //   margin-right: auto;
    // }
  }
	.caption{
		height: 200px;
		.content-brief{

			margin: 15px;
			text-align:justify;
			overflow: hidden;
			height: 110px;
		}
		.place-date{

		}
	}


}
