#pays{
  //height: 100%;



  .cover-pays-main{

    @media (min-width: 1200px) {
      height: 650px;
    }
    @media (max-width: 1199px) {
      height: 500px;
    }
    margin-bottom: 40px;
    // img { height: 420px; background-color: #444;}

  	//  img[class] {
  	// 	 width: 100%;
  	//  }

    .cover-pays{
      .title-before{
        color: #fff;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 19px;
        position: absolute;
        -webkit-transition: all ease 0.8s;
       transition: all ease 0.8s;
        .title{
          font-size: 45px;
          z-index: 4;
          text-transform: uppercase;
        }
      }
     .image-pays{
      //  height: 420px;
      //  background-color: #ddd;
      //  margin: auto;

      width: 100%;
      @media (min-width: 1200px) {
        height: 650px;
      }
      @media (max-width: 1199px) {
        height: 500px;
      }

      display: block;
      overflow: hidden;
      position: relative;
      background-color: #444;
      opacity: 1;
      z-index: 0;
       .image-pa{
   		// 	object-fit: cover;
   		// 	min-height: 420px;


        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // animation: round 15s infinite;
        // -webkit-animation-name: round;
        // -webkit-animation-duration: 15s;
        // -webkit-animation-iteration-count: infinite;
        // opacity: 0;
        background-size: cover;
        background-position: center;
   		}
     }
   }
 }
  .cover {
		//background-image: url("./../images/header2-reduced.jpeg");
	}

  .title-pays{
      text-align: center;
  }
  .container.articles{
    padding-top: 30px;
  }
  .article{
    height: 460px;

    // font-family: brandon,Helvetica-Neue,Helvetica,Arial,sans-serif;

  	img { height: 200px; background-color: #444;}

  	img[class] {
  	  width: 100%;
  	}
    .image-article{
    position: relative;

      height: 200px;
  		.image-ar{
        margin-bottom: 30px;
  		}
    }

    .title{
      margin-bottom: 5px;
    }
  	.caption{
      font-size: 13px;
      a{
        color: #737373;
      }
      a:hover{
        color: #737373;
      }
  		.place-date{
        text-align: right;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 11px;
        margin-bottom: 15px;
  		}

      line-height: 2;
  	}

    .more{
      text-transform: uppercase;
    }
  }
}
