.post-page{
  height: 100%;
  .cover {
    overflow: hidden;
    //default
     //padding-bottom: 55%;

     min-height: 100%;

     img{
      //  @media (min-width: 1025px) {
      //    width:100%;
       //
      //   display:flex;
      //   justify-content: center;
      //   align-items:center;
      //    	top: 0%;
      //    	left: 50%;
      //     min-height: 100%;
      //     	min-width: 100%;
      //    transform: translateX(0%);
      //  }
      //  @media (max-width: 1024px) {
         width:100%;
         position: fixed;
         object-fit: cover;
         top: 0%;
         left: 50%;
         min-height: 100%;
         min-width: 100%;
         transform: translateX(-50%);
      //  }

      }
      .block-cover{
        position: fixed;
        top: 40%;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        height: 50vh;
        .post-info-top div {
            display: inline;
            color: white;
            font-size: 22px;
            text-shadow: 2px 2px 0 rgba(0,0,0,.3);
            -webkit-text-shadow: 2px 2px 0 rgba(0,0,0,.3);
            -moz-text-shadow: 2px 2px 0 rgba(0,0,0,.3);
        }
        a{
          color:white;
        }
        a:hover{
          color: #337ab7;
          text-shadow: 0px 0px 0 rgba(0,0,0,.3);
          -webkit-text-shadow: 0px 0px 0 rgba(0,0,0,.3);
          -moz-text-shadow: 0px 0px 0 rgba(0,0,0,.3);
        }
        .title{
          font-size: 5em;
          color: #fff;
        //  position: fixed;
        //  top: 40%;


          text-shadow: 2px 2px 0 rgba(0,0,0,.3);
          -webkit-text-shadow: 2px 2px 0 rgba(0,0,0,.3);
          -moz-text-shadow: 2px 2px 0 rgba(0,0,0,.3);
          //Continuer à afficher le titre de l'article en haut
          //z-index: 5;

        }
      }

  }


  .icon {
    position: absolute;
    padding: 20px 0 20px 0;
    width: 100vh;
    text-align: center;
    width: 100%;
    color: #fff;
    bottom: 0;
    font-size: 50px;
  }
  .content-scrolling-post{
    padding-top:50px;
  	position: relative;
  	background: #f5f5f5;
  	box-shadow: 0px -10px 60px rgba(0,0,0,0.25);
  	min-height: 20%;

    .block-info {
      background: none;
      padding-bottom: 0;
      //width: 150px;
      //margin-top: 80px;
      border-top: 1px solid #ececec;
      padding-top: 15px;
      .info{
        overflow: hidden;
        border-bottom: 1px solid #ececec;
        text-align: right;
        padding-bottom: 15px;
        margin-bottom: 15px;
      }
    }
    //.container{
      margin: 0 auto;
      .post{
        text-align: justify;
        @media (min-width: 768px) {
          margin-left: auto;
          margin-right: auto;
          width: 720px;
        }
        @media (max-width: 767px) {
          margin-left: 5px;
          margin-right: 5px;
        }

        p{
          font-size: 1.3em;
          line-height: 1.6;
          padding-bottom: 20px;
        }
        img{
          object-fit: cover;
          width: 100%;
          position: relative;
          margin-top: 50px;
          margin-bottom: 50px;
          border-radius: 10px;
          top: 50;
          left: 0;
        }
      }

    //}
  	// min-height: 30%;
  	// padding: 4em 0;
  	// line-height: 1.6;
  	// box-shadow: 0 0 50px rgba(#000, .5);

  }
}
